.container{
  background-color: #95e4c3;
  z-index: 1;
  margin-top: 60px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: #63B995;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.5em;
  border-bottom: .1px solid whitesmoke;
}
.info-modal{
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  border: 2px solid #63B995;
  padding: 1em;
  margin-top: 36%;
  height: 20em;
  overflow-y: auto;
}
.features-body{
  background-color: whitesmoke;
  border-radius: 10px;
  padding:1em;
  color:black;
  margin-top:8em;
}

.close-features{
  width:90%;
  background-color: #6dcfbd;
  border-radius: 5px;
  margin:.5em;
  text-align: center;

}
.availability-container{
  overflow-y: auto;
}
.availability-header{
  text-align: center;
}
.availability-item{
  margin-top: 10px;
  margin-bottom: 10px;
  padding:5px;
  font-size: small;
  border-radius:10px;
}
.availability-item-times{
  display: flex;
  justify-content: right;
}
.availability-item:hover{
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border:2px solid#6dcfbd
}

.navbar-right {
  text-align: right;
  margin-left: auto;
  width: 20%;
}
.btn {
  display: inline-block;
  margin:.5em;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-2px);
  background-color: #6dcfbd;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #77b5ab;
  border-color: rgb(106, 232, 232);
  color: #fbfbfb;
}

.flex-container{
  display: flex;
  height: 30em;
  margin-bottom: 3em;
}

.intro-Paragraph{
  display: block;
  width:30%;
  height: auto;
  overflow-y: scroll;
  text-align: left;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: whitesmoke;
  transition: all 0.3s ease-in-out;
  color: black;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
.intro-Paragraph:hover {
  transform: translateY(6px);
  background-color: #abe4d9a0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}
/* calendar items */
.calendar-form{
  display: block;
  width:20%;
}

.range {
  background-color: #63B995;
  border-radius:4px;
  border: 1px solid black;
  width: 50px;
  text-align: center;
  color: white;
  padding: 6px;
}
.notInRange{
  border: 1px solid black;
  border-radius:4px;
  width: 50px;
  text-align: center;
  padding: 6px;
}

.calendar-container{
  margin: 1em;
  margin-left:8em;
  width: 50%;
}
.calendar-form div{
  display: flex;
  justify-content: space-between;
}
.form-buttons{
  margin:.5em;
  width: 10em;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border:none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.form-buttons:hover{
  transform: translateY(-2px);
  background-color: #6dcfbd;
  color:whitesmoke;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

.calendar{
  background-color: white;
  border-radius: 5px;
  margin:1em;
  padding-left:1em;
  padding-right:1em;
  width: 55%;
  height:60%;
}

.month-year{
  margin-top:.5em;
}

.footer-container{
  color: whitesmoke;
  background-color: #63B995;
  height:8em;
  margin-top:1em;
  padding-top: 1.5em;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* carosel items */

.services-container{
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: center;
  background-color: #63B995;
}
.services-container section{
  display: block;
}

.services-container p{
  color: white;
}

.text-section{
  background-color: whitesmoke;
  border-radius: 5px;
  padding: .5em;
  margin:1em;
}
.features{
  height: 20%;
  font-size: 13px;
}
.features h4{
  text-align: center;
}

.text-section:hover{
  transform: translateY(-2px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}